# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Environment Variables
.env

# MacOS
.DS_Store

# ChromaDB
chroma_db/

# VSCode
.vscode/

# Project specific
*.log
